*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background: #d7d1e0; 
font-family: Arial, sans-serif;
}

h1 {
text-align: center;
border-bottom: 5px solid black; 
padding: 10px 0;
}

img {
    float: right;                  
    margin-right: 60px;            
    margin-left: 20px;  
}

ul {
list-style: none;
}

li {
display: inline-block;
}

p {
text-align: justify;
text-indent: 40px;    
box-shadow: 2px 2px 5px rgba(0,0,0,0.5); 
padding: 10px;
background: white;  
}

#header {
width: 100%;  
}

#content{
width: 90%;               
margin: 0 auto;   
}

#text {
border: 5px dotted gray;
padding: 10px;
background: #e7e5f0;  
}

#text p {
margin-bottom: 10px;    
}

#text p:first-child {
border-top-left-radius: 30px;  
border-top-right-radius: 30px;
background: #d4e6ff;                
}

#text p:last-child {
border-bottom-left-radius: 30px;  
border-bottom-right-radius: 30px;
}

#menu {
width: 100%;
text-align: center;
background: #b6acc9;
padding: 10px 0;
border-top: 5px solid black;
}

#menu a{
text-decoration: none;
color: black;
font-weight: bold;
}


#menu li{
padding: 0 20px;
border-left: 5px solid red; 
}

#menu li a:hover{
text-decoration: underline; 
}

#footer{
text-align: center;
margin-top: 20px;
}

#footer a{
text-decoration: none;
color: darkred;
}

#footer a:hover{
text-decoration: underline;
}
#image {

}

@media all and (max-width: 500px) {
    body {
        background: #ffcccc;     
    }

    img {
        float: none;
        display: block;
        margin: 0 auto;
        width: 90%;              
    }

    #content {
        width: 100%;
    }

}
