body {
text-align: center;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment:fixed
linear-gradient(rgba(68, 43, 12, 0.6), rgba(68, 43, 12, 0.6)),
}

h1 {
background-color: blueviolet;
color:brown;
border-left: 5px solid #ffcc00;
}

img {
width: 300px;
height: 300px;
object-fit: cover;
border: 1px solid black;
box box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

ul {
list-style: none;
padding: 0%;
margin: 0;
}

li {
border: 1px solid #ccc;
display: inline-block;
padding: 5px 10px;
margin:5px;
}

